*{
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  min-height: 100vh; 
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  background-color: #c4d1af; 
}
.container{
    height: 80vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #205b7a;
    border-radius: 1rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
}

.soln{
    background-color: #a2bbcf;
    width: 30vh;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    border-radius: 1rem;
    padding-right: 1rem;
}

.input{
    background-color:#1d3849;
    width: 30vh;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    border-radius: 1rem;
    padding-right: 1rem;
    color: black;
}
.calci {
    background-color: #1d3849;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    width: 30vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 3rem;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.num {
    background-color: #205b7a;
    width: 20%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    color: black;
}
.brac {
    background-color: pink;
    width: 50%;
    height:100%;
    font-size: 3rem;
    border-radius: 1rem;
}
